<div class="container">
    <br>

    <div class="row">
        <div class="col-md-12">
            <h1>Bienvenido</h1>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <br>
    <br>
   

    <div class="row">
        <div class="col-md-12">
            <h1 class="display-6">Crea Un Nuevo Cliente</h1>
        </div>
       <br>
    </div>
    <form (ngSubmit)="crear()" id="crear">

        <div class="row">
            <div class="col-md-12" [(ngModel)]="Cliente.nombrecliente" [ngModelOptions]="{standalone:true}">
                <input type="text" placeholder="Nombre" class="form-control" required>
            </div>
        </div>

        <br>

        <div class="row">
        <div class="col-md-12" [(ngModel)]="Cliente.correocliente" [ngModelOptions]="{standalone:false}">
            <input type="email" placeholder="Correo" class="form-control" required>
        </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-12" [(ngModel)]="Cliente.passwordcliente" [ngModelOptions]="{standalone:false}">
                <input type="password" placeholder="Password" class="form-control" required>
            </div>
        </div>

        <br>

        <select class="form-select" aria-label="Default select example">
            <option selected class="col-md-12">Genero</option>
            <option value="1">Masculino</option>
            <option value="2">Femenino</option>
          </select>

        <br>
        <br>

        <div class="row">
            <div class="col-md-12">
                <input class="btn btn-success float-right" type="submit" value="Crear">
            </div>
        </div>

    </form>

    <br>



</div>