<div class="container">
    <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <div type="button" class="btn btn-outline-light">
            <a href="/menu">Menú</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>Bienvenido</h1>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
    </div>


    <br>
    <br>
    <br>
    <br>







    <div class="row">
        <div class="col-md-12">
            <h1>Crea un nuevo cliente</h1>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
    </div>


    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <div type="button" class="btn btn-outline-light">
            <a href="#">Cerrar Sesion</a>
        </div>
    </div>


</div>