<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
            <h1 class="display-4">PROYECTO PROGRAMACION III</h1>
        </div>
        <div class="col-md-12">
            <hr>
            <br>

        </div>
    </div>

    <div class="row" *ngIf="loading">
        <div class="col-md-12">
            <div class="spinner-border text-info float-right" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
        <br>
    </div>

    <form (ngSubmit)="login()" id="login">
        <div class="row">
            <div class="form-floating mb-3">
                <input type="text" [(ngModel)]="NombreCliente.NombreCliente" [ngModelOptions]="{standalone: false}" id="floatingInput" placeholder="User"
                    class="form-control"required >
                    <label for="floatingInput">  Usuario</label>
                <br>
            </div>
        </div>


        <div class="row">
            <div class="form-floating">
                <input type="password" [(ngModel)]="NombreCliente.PasswordCliente" [ngModelOptions]="{standalone: false}" id="floatingInput" placeholder="Password"
                    class="form-control" required>
                    <label for="floatingInput">Contraseña</label>

            </div>
        </div>

        <br>
        <div class="row">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" type="submit" value="Ingresar"><i class="fas fa-sign-in-alt"></i>  Ingresar </button>
            </div>
        </div>

    </form>
    <br>


</div>