<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br><br><br><br><br><br><br>
            <h1 class="fw-bold" class="text-decoration-underline">Proyecto de Programación III</h1>
        </div>
        <div class="col-md-12">
<br>
            
        </div>
    </div>

    <div class="row" *ngIf="loading">
        <div class="col-md-12">
            <div class="spinner-border text-info float-right" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
        <br>
    </div>

    <form (ngSubmit)="login()" id="login">


        <div class="row">
            <div class="col-md-12">
                <input type="text" [(ngModel)]="usuario" [ngModelOptions]="{standalone: true}" placeholder="User"
                    class="form-control" required>
                <br>
            </div>
        </div>

        
            <div class="row">
                <div class="col-md-12">
                    <input type="password" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}"
                        placeholder="Password" class="form-control" required>

                </div>
            </div>
        

            <br>
            <div class="row">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <input class="btn btn-outline-success float-right" type="submit" value="Ingresar">
                </div>
            </div>
    </form>
    <br>


</div>