<div class="container">

    <head>
        <meta http-equiv="refresh" content="5">
    </head>
    <br>

    <h1>Tablero Clientes</h1>


    <br>
    <br>
    <div class="container">
    <table border="1" class="table table-striper">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Sexo</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let nombre of clientes">
            <td>{{nombre.idcliente}}</td>
            <td>{{nombre.nombrecliente}}</td>
            <td>{{nombre.correocliente}}</td>
            <td>{{nombre.sexo}}</td>
        </tr>
        </tbody>
    </table>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <div type="button" class="btn btn-outline-light">
            <a href="/inicio">Volver</a>
        </div>
    </div>
    </div>
</div>